@use './mixins';
@use './variables';

.form-container{
    background-color:rgb(189,194,188, .3);
    margin: 30px;
    padding: 40px;
    @include mixins.flex(flex,center,column,center);
    width: 100%;
}
.form-label{
    width: 350px;
    font-family: variables.$letra-font;
}
.formu{
    @include mixins.flex(flex,space-around,row-reverse,center);
    
}
