$font-family:'GFS Didot', serif;
$letra-media:1rem;
$letra-grande:2rem;
$color-footer-nav: #d1e7dd;
$color-fondo:#ebf0f3;
$letra-font:'Karla', sans-serif;
$color-detalle: #eaeff2;
$letra-family:'Alkatra', cursive;